<h1>Hello, <%= @user.username %>!</h1>

<p>You won the game <%= @game.name %> on Elite Command!</p>

<p><strong><%= link_to 'View the game', game_url(@game) %></strong></p>

<p><strong><%= link_to 'Join another game', games_url %></strong></p>

<hr/>

<p>You have received this email because you are playing a game of Elite Command. To unsubscribe, update your <%= link_to 'game options', game_url(@game) %> or your <%= link_to 'global email settings', edit_user_url(@user) %>.</p>
